*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(129, 110, 121, 0.08);
}

.heading{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 25px;
    padding: 2rem;
}

.question{
    font-size: 2.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0, auto;
    font-size: 1.5;
    padding-top: 80px;
}
.choice:hover{
    cursor: pointer;
    box-shadow: 0 0.6em 1rem rgba(202, 31, 57, 0.08);
    
}

.choice {
    display: flex;
    margin-bottom: 0.5rem;
    border: 0.1rem solid green;
    border-radius: 10px;
   
}
.prefix{
    padding: 0.5rem 1rem;
    background-color: yellow;
    border-radius: 10px;
}

.text{
    padding: 0.5rem;
}
    

