*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(129, 110, 121, 0.08);
   
}
/* The Footer */
.social-medias {
    text-align: center;
    padding: 10px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

/* Icons of the footer */
.social-medias i {
    font-size: 120%;
    padding: 5%;
    color: black;
    background-color: #ffffff;
}

.heading{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 25px;
    padding: 2rem;
}

.question{
    font-size: 2.5rem;
}

/* Main div */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0, auto;
    font-size: 1.5;
    padding-top: 80px ;
    padding-bottom: 20px;
}

/* Answers style when hover */
.choice:hover{
    cursor: pointer;
    box-shadow: 0 0.5em 1.5rem rgba(3, 7, 243, 0.705);
    
}

.choice {
    display: flex;
    margin-bottom: 0.5rem;
    border: 0.1rem solid green;
    border-radius: 10px;
   
}

/* Letters before answers*/
.prefix{
    padding: 0.5rem 1rem;
    background-color: yellow;
    border-radius: 10px;
}

.text{
    padding: 0.5rem;
}
    

