
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lugrasimo&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(129, 110, 121, 0.08);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
   
}
/* The Footer */
.social-medias {
    background-color: green;
    text-align: center;
    padding: 10px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
}

.social-medias i{
    color: black;
}
 i:hover {
    cursor: pointer;
    box-shadow: 0 1em 1.5rem rgba(3, 7, 243, 0.705);
 }



.heading{
    font-family: Agbalumo;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 25px;
   
}

.question{
    font-size: 2.5rem;
}

/* Main div */
.container{
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0, auto;
    font-size: 1.5;
    padding-top: 30px ;
    padding-bottom: 20px;
}

/* Answers style when hover */

.choice:hover {
    cursor: pointer;
    box-shadow: 0 0.5em 1.6rem rgba(3, 7, 243, 0.705);
    
}

.choice {
    display: flex;
    margin-bottom: 0.5rem;
    border: 0.1rem solid green;
    border-radius: 10px;
   
}

/* Letters before answers*/
.prefix{
    padding: 0.5rem 1rem;
    background-color: yellow;
    border-radius: 10px;
}

.text{
    padding: 0.5rem;
    width: 100%;
}
    

